.footer {
  padding: rem(30px) 0 rem(83px);
  font-size: 13px;

  p {
    margin-bottom: rem(70px);
    line-height: 1.85;
    color: rgba(255, 255, 255, 0.6);
  }

  @media (#{$max_phones--big}) {
    padding-bottom: 70px;
    padding-top: 0;
    font-size: 11px;
    line-height: 1.82;

    p {
      margin-bottom: 58px;
    }
  }
}

.copy {
  line-height: 1.5;
  font-weight: 600;
  font-size: rem(16px);

  @media (#{$max_phones--big}) {
    line-height: 1.43;
    font-size: 14px;
  }
}