.header {
  padding: rem(35px) 0;
  overflow: hidden;

  @media (#{$max_phones--big}) {
    padding: 20px 0;
  }
}

.logo {
  font-size: rem(16px);
  line-height: 2.5;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}