html {
  height: 100%;
}

body {
  font-size: rem(16px);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: $font-family-base;
  color: #fff;
  background-color: $blue;
  min-height: 100vh;

  @include fontantialias(true);

  &::-webkit-scrollbar {
    background-color: mix($white, $blue, 10%); /* or add it to the track */
    border-left: 1px solid rgba($white, .1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($white, .1);
    box-shadow: inset 0 0 0 1px rgba($white, .1);
    transition: background-color $transition;

    &:hover {
      background-color: rgba($white, .4);
    }
  }

  @media (#{$max_phones--big}) {
    font-size: 14px;

    &.menu-opened {
      overflow: hidden;
    }
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $font-family-base;
  color: inherit;
}

h1, .h1 {
  font-size: rem(32px);
  line-height: 1.25;
  margin-bottom: rem(13px);
  font-weight: 800;

  &:last-child {
    margin-bottom: 0;
  }

  @media (#{$max_phones--big}) {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 13px;
  }
}

h2, .h2 {
  font-size: rem(50px);
  line-height: rem(64px);
  letter-spacing: -1px;
  margin-bottom: rem(18px);

  @media (#{$max_phones--big}) {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 8px;
  }
}

h3, .h3 {
  font-size: rem(32px);
  line-height: rem(40px);
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: rem(10px);

  @media (#{$max_phones--big}) {
    font-size: 20px;
    line-height: 30px;
  }
}

p {
  a {
    color: $blue-light;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $blue-light;
      text-decoration: none;
      border-bottom-color: $blue-light;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.container {
  max-width: 1220px + 30px;

  @media (#{$max_phones--big}) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn-link {
  background-color: transparent;
  text-decoration: none !important;
  text-transform: inherit;
  font-weight: inherit;
  padding: 0;
  letter-spacing: inherit;
  font-size: rem(17px);

  .icon {
    font-size: 16px;
  }

  .btn-text + .icon {
    margin-left: 5px;
  }

  &:hover {
    color: #0467D8;
  }
}

.btn-default,
.btn-icon {
  color: $text;
}

.btn {
  box-shadow: none !important;
  font-family: $font-family-base;
  padding: rem(9px 20px);
  font-size: rem(16px);
  font-weight: 600;
  line-height: 1.5;
  border-radius: 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-decoration: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  @media (#{$max_phones--big}) {
    font-size: 14px;
    padding: 8px 16px 9px;
  }
}

.text-primary {
  color: $primary !important;
}

.text-grey {
  color: #7D8499 !important;
}

.btn-primary {
  background-color: $white;
  color: $blue !important;
  transition: all .3s $lines_easing;
  user-select: none;
  appearance: none;

  &:hover {
    background-color: $white;
    transform: translate3d(0, -4px, 0);
  }

  &:active {
    background-color: rgba($white, .9) !important;
    transform: translate3d(0, 0, 0);
  }

  &[disabled] {
    background-color: #F3F3F3 !important;
    color: #979797 !important;
  }

  .body--mobile & {
    transition: background-color $transition-base;
    transform: none !important;
  }
}

.form-control {
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: $white;
  font-family: $font-family-base;
  height: rem(60px);
  padding: rem(10px 20px);
  font-size: rem(18px);
  line-height: rem(24px);
  border: 2px solid $border-color;
  box-sizing: border-box;
  border-radius: 12px;
  color: #323232;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $primary;
  }

  @include placeholder {
    color: #7D8499;
  }

  @media (#{$max_phones--big}) {
    font-size: 13px;
    line-height: 1.6;
    padding: 8px 16px;
    height: 40px;
  }
}

.form-control--error {
  @include placeholder {
    color: #EB3B47
  }
}

.form-group {
  @media (#{$max_phones--big}) {
    margin-bottom: 8px;
  }
}

.hint {
  font-size: rem(17px);
  margin-bottom: rem(20px);

  @media (#{$max_phones--big}) {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}

.row-small {
  margin-left: -10px;
  margin-right: -10px;

  > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.lead {
  font-size: rem(20px);
  line-height: 1.6;
  font-weight: 500;

  @media (#{$max_phones--big}) {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 28px;
  }
}

#mc_embed_signup input.mce_inline_error {
  border-color: $red !important;
}

#mc_embed_signup div.mce_inline_error {
  font-family: $font-family-base;
  font-weight: normal !important  ;
  background-color: transparent !important;
  color: $red !important;
  font-size: rem(13px);
  line-height: rem(20px);
  padding: rem(5px 20px);

  @media (#{$max_phones--big}) {
    font-size: 10px;
    line-height: normal;
    padding: 5px 16px;
  }
}

#mce-success-response {
  color: $text;
  font-size: rem(13px);
  line-height: rem(20px);
  padding: rem(0 20px);
}