.section {
  padding: rem(40px 0);
  overflow: hidden;

  @media (#{$max_phones--big}) {
    padding: 30px 0;
  }
}

.section_lead {
  padding: rem(75px) 0;

  .section_image {
    background: url(/images/pattern_bg.png) no-repeat center;
    background-size: rem(590px) rem(590px);
    margin-bottom: rem(75px);
    pointer-events: none;
    user-select: none;

    img {
      max-width: 100%;
    }
  }

  @media (#{$max_phones--big}) {
    padding: 30px 0;

    .section_image {
      background-size: 266px 266px;
      margin-bottom: 40px;

      img {
        width: 224px;
      }
    }
  }
}

.section_header {
  margin-bottom: rem(75px);
}

.section_about {
  padding: rem(85px) 0;

  @media (#{$max_phones--big}) {
    padding: 0;
  }
}

.badge_fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: rem(40px);

  @media (#{$max_phones--big}) {
    bottom: 16px;
  }
}

.badge {
  background: $white;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  width: 556px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: rem(18px 32px);

  a {
    color: $text;
  }

  p {
    margin-bottom: 0;
    font-size: rem(17px);
    line-height: rem(24px);
    color: #979797;
  }

  .btn-link {
    line-height: normal;
    height: auto;
    margin: -18px -24px -18px 0;
  }

  @media (#{$max_phones--big}) {
    display: block;
    text-align: center;

    p {
      font-size: 12px;
      line-height: 16px;
    }

    .btn-link {
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 -10px;
    }
  }
}

.section_message {
  text-align: center;
  height: 100vh;
  overflow: visible;
  min-height: 530px;
  padding: rem(100px) 0;

  .container,
  .row {
    height: 100%;
    position: static;
  }

  .col-sm-6 {
    position: static;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__icon {
    margin-bottom: rem(58px);
  }

  &__accent {
    font-weight: $font-weight-bold;
    font-size: rem(120px);
    line-height: rem(120px);
    margin-bottom: rem(40px);

    img {
      max-width: 100%;
      margin-bottom: rem(40px);
    }
  }

  &__title {
    padding-bottom: rem(70px);
    padding-bottom: 7vh;
    letter-spacing: -0.5px;
  }

  &__text {
    margin-bottom: rem(40px);
  }

  &__hint {
    margin-bottom: rem(40px) !important;
    font-size: rem(16px);
    line-height: rem(32px);
    margin-top: rem(70px);
    margin-top: 7vh;
    font-weight: 600;
  }

  @media (#{$max_phones--big}) {
    padding: 120px 0;
    height: auto;
    min-height: 100vh;
    position: relative;

    .container,
    .row {
      height: auto;
    }

    &__icon {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 32px;
    }

    &__accent {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 40px;

      img {
        width: 238px;
        margin-bottom: 0;
      }
    }

    &__hint {
      font-size: 14px;
      margin: 0 !important;
      position: absolute;
      bottom: 32px;
      left: 0;
      right: 0;
    }

    .logo {
      img {
        width: 136px;
      }
    }
  }
}

.features_list {
  &__item {
    width: 220px;
    max-width: 100%;
    margin: rem(45px) auto;
  }

  @media (#{$max_phones--big}) {
    &__item {
      margin: 0 auto 40px;
    }
  }

  @media (#{$max_phones}) {
    &__item {
      width: 192px;
    }
  }
}

.section_q {
  p {
    font-weight: 600;
  }
}

.show-mobile {
  display: none;
}

.body--mobile {
  .show-mobile {
    display: block !important;
  }

  .hide-mobile {
    display: none !important;
  }
}