<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
<main>
  <section class="section section_message">
    <div class="header">
      <a href="/" class="logo">
        <img src="images/logo.svg" alt="logo" width="140px">
      </a>
    </div>
    <div class="container">
      <div class="row justify-content-center align-items-md-center">
        <div class="col-sm-6">
          <h1 class="section_message__accent">
            404
          </h1>
          <div class="section_message__text lead">
            The page you were looking for doesn’t exist.  Return&nbsp;to&nbsp;homepage or explore
          </div>

          <a href="/" class="btn btn-primary">Back to homepage</a>

          <p class="section_message__hint">
            If you have troubles, please <a href="mailto:hello@atoma.at" title="Contact us!">contact us</a>
          </p>
        </div>
      </div>
    </div>
  </section>

</main>

<%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

