<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
<header class="header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-7 col-md-6">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <a href="/" class="logo">
              <img src="images/logo.svg" alt="Atoma.Cash" width="140px">
            </a>
          </div>
          <div class="col-auto">
            <a href="/" class="btn btn-primary d-none d-md-inline-block">Get early access</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="section section_lead">
    <div class="container">
      <div class="section_header">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-7 col-md-6">
            <h1>Your money app</h1>
            <p class="lead">
              Atoma Cash is a mobile app that allows to control your expenses, send money to friends, and pay for services without a need to open one more bank account.
            </p>
            <a href="/" class="btn btn-primary d-md-none">Get early access</a>
          </div>
        </div>
      </div>

      <div class="section_image text-center">
        <div class="image_tilt">
          <img src="images/iphone_app.webp" onerror="this.onerror=null; this.src='images/iphone_app.png'" width="400">
        </div>
      </div>

      <div class="features_list text-center">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-9 col-lg-8">

            <div class="row">
              <div class="col-12 col-sm-6 col-md-4">
                <div class="features_list__item">
                  <p>Easy start — no KYC required, no need to open a new bank account</p>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="features_list__item">
                  <p>All bank accounts and crypto wallets in one app</p>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="features_list__item">
                  <p>Control of overall personal&nbsp;expenses</p>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="features_list__item">
                  <p>Instant money transfers with zero commission</p>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="features_list__item">
                  <p>No bank details sharing when shopping online</p>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="features_list__item">
                  <p>A safe and easy way to buy and sell cryptocurrencies</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section_q">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-7 col-md-6">
          <p>For any questions, please contact us at <a href="mailto:hello@atoma.at">hello@atoma.at</a></p>
        </div>
      </div>
    </div>
  </section>

</main>

<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-7 col-md-6">
        <p>Atoma Solutions GmbH is building a personal bank accounts and crypto wallets aggregator and a payment app which will radically simplify sending money between friends and paying for online services</p>
        <div class="copy">
          &copy; Atoma.Cash, 2019
        </div>
      </div>
    </div>
  </div>
</footer>

<%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

