<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
<main>
  <section class="section section_message">
    <div class="header">
      <a href="/" class="logo">
        <img src="images/logo.svg" alt="logo" width="140px">
      </a>
    </div>
    <div class="container">
      <div class="row justify-content-center align-items-md-center">
        <div class="col-sm-6">
          <div class="section_message__accent">
            <img src="images/confirmed.png" alt="confirmed" width="360px">
          </div>
          <div class="section_message__text h1">
            <div class="hide-mobile">
              Thank you!<br/>
              Your email has been confirmed.
            </div>
            <div class="show-mobile">
              All bank accounts and crypto in one app
            </div>
          </div>

          <div class="show-mobile">
            <a href="/" class="btn btn-primary">Open AtomaCash app</a>
          </div>

          <p class="section_message__hint">
            If you have troubles, please <a href="mailto:hello@atoma.at" title="Contact us!">contact us</a>
          </p>
        </div>
      </div>
    </div>
  </section>

</main>

<%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

